USE [master]
GO
/****** Object:  Database [SalesGlassesDB]    Script Date: 4/30/2019 10:15:51 PM ******/
CREATE DATABASE [SalesGlassesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesGlassesDB', FILENAME = N'D:\SalesGlassesDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SalesGlassesDB_log', FILENAME = N'D:\SalesGlassesDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesGlassesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesGlassesDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/30/2019 10:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/30/2019 10:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[AccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/30/2019 10:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/30/2019 10:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] NOT NULL,
	[Name] [nchar](30) NULL,
	[Gender] [nchar](10) NULL,
	[Address] [nchar](50) NULL,
	[PhoneNumber] [nchar](10) NULL,
 CONSTRAINT [PK_dbo.Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/30/2019 10:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[Name] [nchar](20) NOT NULL,
	[Gender] [nchar](10) NOT NULL,
	[Address] [nchar](50) NOT NULL,
	[PhoneNumber] [nchar](10) NOT NULL,
 CONSTRAINT [PK_dbo.Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 4/30/2019 10:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[State] [nvarchar](40) NOT NULL,
	[PhoneNumber] [nvarchar](40) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Customers_CustomerID] [int] NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDatail]    Script Date: 4/30/2019 10:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDatail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Product_ProductID] [int] NULL,
 CONSTRAINT [PK_dbo.OrderDatail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/30/2019 10:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ImgURL] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unitinstock] [int] NOT NULL,
	[Original] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 4/30/2019 10:15:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
 CONSTRAINT [PK_dbo.sysdiagrams] PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccID], [UserName], [Password]) VALUES (1, N'kythanh', N'1')
INSERT [dbo].[Account] ([AccID], [UserName], [Password]) VALUES (2, N'trannhu', N'2')
INSERT [dbo].[Account] ([AccID], [UserName], [Password]) VALUES (3, N'khai', N'3')
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (1, N'Kính trẻ em')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (2, N'Kính thời trang')
SET IDENTITY_INSERT [dbo].[Category] OFF
INSERT [dbo].[Customer] ([CustomerID], [Name], [Gender], [Address], [PhoneNumber]) VALUES (1, N'Lê Thành Kỷ                   ', N'nam       ', N'144 THC Q12                                       ', N'0981075901')
INSERT [dbo].[Customer] ([CustomerID], [Name], [Gender], [Address], [PhoneNumber]) VALUES (2, N'Hồ Trần Như                   ', N'nữ        ', N'314 HKC Q12                                       ', N'036559832 ')
INSERT [dbo].[Customer] ([CustomerID], [Name], [Gender], [Address], [PhoneNumber]) VALUES (3, N'Trần Văn Khải                 ', N'nam       ', N'12 An Thoi Dong Q12                               ', N'098413015 ')
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Gender], [Address], [PhoneNumber]) VALUES (4, N'Trần Văn Bê         ', N'nu        ', N'15 Le Duc Tho                                     ', N'098932120 ')
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [OrderDate], [Name], [Address], [State], [PhoneNumber], [Total], [Customers_CustomerID]) VALUES (1, CAST(0x0000A9E900000000 AS DateTime), N'Lê Thành Kỷ                   ', N'144 THC Q12                                       ', N'Chờ Duyệt', N'0981075901', CAST(11000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Order] ([OrderId], [OrderDate], [Name], [Address], [State], [PhoneNumber], [Total], [Customers_CustomerID]) VALUES (3, CAST(0x0000AA0600000000 AS DateTime), N'Ho Tran Nhu', N'314 HKC Q12                                     ', N'Chờ Duyệt', N'036559832 ', CAST(120000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[Order] ([OrderId], [OrderDate], [Name], [Address], [State], [PhoneNumber], [Total], [Customers_CustomerID]) VALUES (16, CAST(0x0000AA2600000000 AS DateTime), N'Trần Văn Khải', N'12 An Thoi Dong Q12                               ', N'Chờ Duyệt', N'091316461', CAST(70000000.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDatail] ON 

INSERT [dbo].[OrderDatail] ([OrderDetailId], [OrderId], [Quantity], [UnitPrice], [Product_ProductID]) VALUES (1, 1, 1, CAST(1000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderDatail] ([OrderDetailId], [OrderId], [Quantity], [UnitPrice], [Product_ProductID]) VALUES (2, 3, 1, CAST(3.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderDatail] ([OrderDetailId], [OrderId], [Quantity], [UnitPrice], [Product_ProductID]) VALUES (3, 17, 1, CAST(800000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[OrderDatail] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Name], [ImgURL], [Description], [Price], [Quantity], [Unitinstock], [Original], [State], [CategoryID]) VALUES (1, N'TT K89', N'https://images.pexels.com/photos/1548027/pexels-photo-1548027.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', N'Kính thời trang độc đáo, cá tính, năng động. Phù hợp với nhiều lứa tuổi.', CAST(800000.00 AS Decimal(18, 2)), 6, 4, N'Pháp', N'Còn hàng', 2)
INSERT [dbo].[Product] ([ProductID], [Name], [ImgURL], [Description], [Price], [Quantity], [Unitinstock], [Original], [State], [CategoryID]) VALUES (5, N'TE M12', N'
https://images.pexels.com/photos/860917/pexels-photo-860917.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
', N'Kinh thời trang phù hợp với nhiều lứa tuổi. Đi du lịch, dạo phố rất năng động, cá tính', CAST(550000.00 AS Decimal(18, 2)), 10, 9, N'Pháp', N'Còn hàng', 2)
INSERT [dbo].[Product] ([ProductID], [Name], [ImgURL], [Description], [Price], [Quantity], [Unitinstock], [Original], [State], [CategoryID]) VALUES (6, N'MK 15H', N'https://images.pexels.com/photos/46710/pexels-photo-46710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', N'Kinh thời trang phù hợp với nhiều lứa tuổi. Đi du lịch, dạo phố rất năng động, cá tính', CAST(600000.00 AS Decimal(18, 2)), 0, 0, N'Pháp', N'Còn hàng', 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  Index [IX_CustomerID]    Script Date: 4/30/2019 10:15:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerID] ON [dbo].[Customer]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeID]    Script Date: 4/30/2019 10:15:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeID] ON [dbo].[Employee]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Customers_CustomerID]    Script Date: 4/30/2019 10:15:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_CustomerID] ON [dbo].[Order]
(
	[Customers_CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 4/30/2019 10:15:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[OrderDatail]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_ProductID]    Script Date: 4/30/2019 10:15:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_ProductID] ON [dbo].[OrderDatail]
(
	[Product_ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 4/30/2019 10:15:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Product]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customer_dbo.Account_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Account] ([AccID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_dbo.Customer_dbo.Account_CustomerID]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employee_dbo.Account_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Account] ([AccID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_dbo.Employee_dbo.Account_EmployeeID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.Customer_Customers_CustomerID] FOREIGN KEY([Customers_CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.Customer_Customers_CustomerID]
GO
ALTER TABLE [dbo].[OrderDatail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDatail_dbo.Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDatail] CHECK CONSTRAINT [FK_dbo.OrderDatail_dbo.Order_OrderId]
GO
ALTER TABLE [dbo].[OrderDatail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDatail_dbo.Product_Product_ProductID] FOREIGN KEY([Product_ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDatail] CHECK CONSTRAINT [FK_dbo.OrderDatail_dbo.Product_Product_ProductID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Category_CategoryID]
GO
USE [master]
GO
