@model List<MVC_ShoppingGlasses.ViewModel.CartItemModel>
    
<div id="cart">
        <img src="../Images/shopping-cart-icon-white.png" height="40px" width="40px" />
         <span class="badge badge-danger badge-counter" style="background-color:red;color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> @Model.Count</span>
</div>
    