@{
    ViewBag.Title = "About";
}
<head>
    <style>

        #div_img_gt {
            margin-left: 23%;
            margin-top: 2%;
            margin-bottom: 5%;
        }

        #img_gioithieu {
            border: solid #660000 2px;
            border-radius: 10px;
        }

        p {
            font-size: 20px;
            line-height: 20px;
            color:black
        }

        b {
            line-height: 50px;
            color:black;
        }
    </style>
</head>
<div class="container">
    <h1>VỀ CHÚNG TÔI</h1>
    <div id="div_img_gt">
        <img id="img_gioithieu" src="~/Images/thiet-ke-noi-that-cua-hang-kinh-mat.jpg" width="70%" /><br />
        <br />
        <i> MatKinh.Com - địa chỉ số một cung cấp các loại mắt kinh thời trang thời thượng</i>
    </div>
    <p>
        Tại Việt Nam, nhiều cửa hàng kính mắt đang quan niệm: khách hàng là bệnh nhân, do đó chưa chú trọng đến việc hoàn thiện quy trình dịch vụ. Còn tại MatKinh.com, chúng tôi quan niệm: khách hàng chính là khách hàng!
    </p><br />

    <h2>Tầm nhìn</h2>
    <p>Hiệu kính được đầu tư hệ thống máy móc hiện đại, nhập khẩu từ các nước lớn trên thế giới giúp đo, chẩn đoán chính xác tình trạng thị lực, hỗ trợ tối đa quá trình đo, cắt kính. Cụ thể như </p><br />
    <h2>Sứ mệnh</h2>
    <p>
        Với triết lý đó, mô hình của MatKinh.com được xây dựng nhằm mang lại cho người sử dụng những trải nghiệm tốt nhất cả về chất lượng chuyên môn, lẫn dịch vụ chăm sóc.
    </p><br />
    
    <p>
        hiện đang áp dụng thời gian mở cửa tất cả các ngày trong tuần (từ thứ Hai – Chủ nhật mở cửa từ 8h30 – 22h00) giúp Quý khách dễ dàng sắp xếp công việc, để đo khám mắt và cắt kính, mà không ảnh hưởng nhiều tới các hoạt động khác.
    </p>
    <b>
        Thông tin chi tiết vui lòng liên hệ:<br />

        Tổng đài tư vấn - Bán hàng : 1900 1000<br />

        PolyCake HCM : 150 Nguyễn Thị Đặng kp2, p.TTH quận 12, TP Hồ Chí Minh<br />

        Fax: 04. 62626236<br />

        Email: PolyCake@gmail.com<br />

        Giờ mở cửa: 8h – 17h00 (mở cửa từ t2-t7)
    </b>

</div>
