@{
    ViewBag.Title = "Contact";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/CSS_Web.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
       b{
           color:black;
       }
        #maps {
            text-align: center;
        }

        #img_maps {
            border: solid #660000 2px;
            border-radius: 10px;
        }
    </style>
</head>

<div class="container">
    <div id="maps">
        <img id="img_maps" src="~/Images/Maps.png" width="70%" />
        <br />
        <span class="lienhe">
            <a href="https://www.google.com/maps/place/157+D%C6%B0%C6%A1ng+B%C3%A1+Tr%E1%BA%A1c,+Ph%C6%B0%E1%BB%9Dng+1,+Qu%E1%BA%ADn+8,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/10.7474209,106.6868297,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f0812f3b675:0xf79dab2a3612720a!8m2!3d10.7474156!4d106.689018">link chỉ đường</a>
        </span>
    </div>
    <b>
        Thông tin chi tiết vui lòng liên hệ:<br />
        <br />
        Tổng đài tư vấn - Bán hàng : 1900 1000<br />
        <br />
        PolyCake HCM : 150 Nguyễn Thị Đặng kp2, p.TTH quận 12, TP Hồ Chí Minh<br />
        <br />
        Fax: 04. 62626236<br />
        <br />
        Email: MatKinh@gmail.com<br />
        <br />
        Giờ mở cửa: 8h – 17h00 (mở cửa từ t2-t7)
    </b>

</div>